@model ResumeStripper.Models.AccountModels.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

@Styles.Render("~/Content/customcss")
@Styles.Render("https://cdn.jsdelivr.net/npm/pdfjs-dist@2.0.943/web/pdf_viewer.css")
@Scripts.Render("https://code.jquery.com/jquery-3.3.1.min.js")
@Scripts.Render("https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js")
@Scripts.Render("~/bundles/bootstrap")

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div style="width: 200px; margin-left: 100px;">
        @using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Role)
            @Html.EnumDropDownListFor(m => m.Role, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
            <br />
            <input type="submit" class="btn sample btn-sample btn-resume" />
        }
    </div>
</body>
</html>
