@using ResumeStripper.Models.Enums
@model ResumeStripper.Models.AccountModels.ViewModels.EditCompanyViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EHV Edit Company</title>
    @Scripts.Render("https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/logincss")
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper" style="margin-top: 180px;">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box">
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center">
                                    <img width="70%" src="~/Content/css/login/img/ehv-talent-logo.png"
                                         alt="EHV Talent Logo">
                                    <h3 class="title">Editing @Model.Name</h3>
                                </div>
                            </div>
                            <!-- form starts here -->
                            @using (Html.BeginForm("EditCompany", "Company", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                ;
                                <br />
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Company Name" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Company Location" })
                                    @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Sector, new { @class = "form-control", placeholder = "Company Sector" })
                                    @Html.ValidationMessageFor(m => m.Sector, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @if (Model.CurrentUserRole == UserRole.EHVAdmin)
                                    {
                                        @Html.EnumDropDownListFor(m => m.Package, "Select a Package!", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Package, "", new { @class = "text-danger" })
                                    }
                                </div>
                                <br />
                                <input type="submit" value="Confirm" class="btn btn-primary btn-lg btn-block" />
                            }
                            <!-- form ends here -->
                            <BR />
                            <div class="bottom">
                                <span class="helper-text">
                                    @Html.ActionLink("Return to EHV Panel", "EhvPanel", "Home")
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">

                            <h1 class="heading">RESUME STRIPPER</h1>
                            <p>Powered by EHV Talent</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
