@model ResumeStripper.Models.Viewmodels.MessageViewModel

@{
    ViewBag.Title = "Resume Stripper";
}

@Styles.Render("~/Content/css")
@Scripts.Render("https://code.jquery.com/jquery-3.3.1.min.js")
@Scripts.Render("https://cdn.jsdelivr.net/npm/pdfjs-dist@2.0.943/build/pdf.min.js")
@Scripts.Render("https://cdn.jsdelivr.net/npm/pdfjs-dist@2.0.943/build/pdf.worker.min.js")
@Scripts.Render("~/Scripts/js/ChooseScript.js")
@Scripts.Render("~/Scripts/PDFSCRIPT.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js")
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>*@

<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="~/Content/img/sidebar.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <img class="sidebar-logo" src="~/Content/img/logo-glow.png" alt="EHV Talent" width="100%" />
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="active-pro">
                    <a href="#">
                        <i class="pe-7s-door-lock"></i>
                        <p>Log out</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>My account</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content all-icons">

            <div class="container-fluid">
                <div class="row">

                    <!-- Kaart links -->
                    <div class="col-md-6">
                        <div class="card" height="1000px">
                            <div class="header">
                                <h4 style="display: inline-block;" class="title">Resume applicant</h4>
                                @using (Html.BeginForm("Upload", "CV", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="file" name="pdf" id="pdf-upload" onchange="this.form.submit()" @*onchange="newPdf()"*@ />
                                    @ViewBag.FileStatus
                                }
                                <button id="chooseBtn" onclick="" data-text-swap="Switch to PDF View!">Switch to Text View!</button>
                                <p id="result">test</p>
                                <hr>

                                <br />
                                @{
                                    if (Model != null)
                                    {
                                        <div id="pdfChoice">
                                            @if (ViewBag.JavaScriptFunction != null)
                                            {
                                                <script type="text/javascript">
                                                @Html.Raw(ViewBag.JavaScriptFunction)
                                                </script>
                                            }
                                            <canvas id="viewer"></canvas>
                                            @*<div id="pdfview"></div>
                                                <script>
                                                        PDFObject.embed("@Model.serverPath", "#pdfview");
                                                </script>*@
                                        </div>
                                        <div id="textChoice" style="display:none">
                                            @*<pre>@Model.Text</pre>*@
                                            @Html.Raw(Model.Text)
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>



                    <!-- Kaart rechts -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 style="display: inline-block;" class="title">Resume EHV</h4><img align="right"
                                                                                                     src="~/Content/img/icon-download.png" />
                                <hr>

                                <img src="~/Content/img/ehv-talent-logo.png" alt="EHV Talent" align="right">

                                <style>
                                    .divsenn {
                                        margin-top: 150px;
                                    }

                                    h4 {
                                        font-weight: bold;
                                    }
                                </style>

                                <div class="divsenn">
                                    <h3 id="topname" style="color: #ff700d">
                                        <strong>
                                            CV
                                            <span id="topFirst"></span>
                                            <span id="topPrefix"></span>
                                            <span id="topSur"></span>
                                        </strong>
                                    </h3>
                                    <hr>
                                </div>

                                <!-- Personalia -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Personalia</h4>
                                    <div id="personaliaGroup">
                                        <span><button id="btnName" onclick="changeElem(nameLb)">Set Voornaam</button></span>
                                        <p style="margin-left: 25px; color:black;" id="nameLb"></p><br />
                                        <span><button id="btnPrefix" onclick="changeElem(prefixLb)">Set Tussenvoegsel</button></span>
                                        <p style="margin-left: 25px; color:black;" id="prefixLb"></p><br />
                                        <span><button id="btnSurname" onclick="changeElem(surnameLb)">Set Achternaam</button></span>
                                        <p style="margin-left: 25px; color:black;" id="surnameLb"></p><br />
                                        <span><button id="btnPlace" onclick="changeElem(placeLb)">Set Plaats</button></span>
                                        <p style="margin-left: 25px; color:black;" id="placeLb"></p><br />
                                        <br />
                                        <span><button id="btnCountry" onclick="changeElem(countryLb)">Set Land</button></span>
                                        <p style="margin-left: 25px; color:black;" id="countryLb"></p><br />
                                        <br />
                                        <span><button id="btnDob" onclick="changeElem(dobLb)">Set Geboortedatum</button></span>
                                        <p style="margin-left: 25px; color:black;" id="dobLb"></p><br />
                                        <br />
                                        <span><button id="btnLicense" onclick="changeElem(licenseLb)">Set License</button></span>
                                        <p style="margin-left: 25px; color:black;" id="licenseLb"></p><br />
                                        <br />
                                        <span><button id="btnLicensePlus">+</button></span>
                                    </div>
                                </div>

                                <!-- Profielschets -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Profielschets</h4>
                                    <span><button id="btnProfile" onclick="changeElem(this)">Profielschets</button></span>
                                </div>

                                <!-- Opleidingen -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Opleidingen</h4>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="buttongroup">
                                                <span><button id="btnEducationBegin" onclick="changeElem(this)">Begindatum</button></span> -
                                                <span><button id="btnEducationEnd" onclick="changeElem(this)">Einddatum</button></span><br /><span><button id="btn">Studirichting</button></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="buttongroup">
                                                <span><button id="btnEducationName" onclick="changeElem(this)">Naam opleidingsinstituut</button></span><br /><span><button id="btn">Niveau</button></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="buttongroup">
                                                <span><button id="btnEducationPlace" onclick="changeElem(this)">Plaats opleidingsinstituut</button></span>
                                            </div>
                                        </div>
                                    </div>
                                    <span>Diploma <u><button id="btn">Ja</button></u>/<u><button id="btn">Nee</button></u></span>
                                    <br />
                                    <span><button id="btnEducationPlus">+</button></span>
                                </div>

                                <!-- Werkervaring -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Werkervaring</h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="buttongroup">
                                                <span><button id="btnWorkBegin" onclick="changeElem(this)">Begindatum</button></span> - <span><button id="btnWorkEnd" onclick="changeElem(this)">Einddatum</button></span><br />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="buttongroup">
                                                <span><button id="btnWorkName" onclick="changeElem(this)">Bedrijf</button></span><br />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="buttongroup">
                                                <span><button id="btnWorkPlace" onclick="changeElem(this)">Plaats</button></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttongroup">
                                        <span><button id="btnWorkJob" onclick="changeElem(this)">Functie</button></span>
                                        <br />
                                        <span><button id="btnWorkDescription" onclick="changeElem(this)">Taakomschrijving</button></span>
                                    </div>
                                    <br />
                                    <span><button id="btnWorkPlus">+</button></span>
                                </div>

                                <!-- Cursussen en trainingen -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Cursussen en trainingen</h4>
                                    <div class="buttongroup">
                                        <span><button id="btnCourseYear" onclick="changeElem(this)">Jaartal</button></span>
                                        <br />
                                        <span><button id="btnCourseName" onclick="changeElem(this)">Naam cursus/training</button></span>
                                    </div>
                                    <br />
                                    <span><button id="btn">Certificaat</button></span>
                                    <br />
                                    <span><button id="btnCoursePlus">+</button></span>
                                </div>

                                <!-- Vaardigheden -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Vaardigheden</h4>
                                    <h5 style="color: #ff700d"><strong>Talenkennis</strong></h5>
                                    <span><button id="btn">Taal</button></span>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span><button id="btnLanguageListening">Luistervaardigheid</button></span><br /><span><button id="btn">Beoordeling</button></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span><button id="btnLanguageSpeaking">Spreekvaardigheid</button></span><br /><span><button id="btn">Beoordeling</button></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span><button id="btnLanguageWriting">Schrijfvaardigheid</button></span><br /><span><button id="btn">Beoordeling</button></span>
                                        </div>
                                    </div>
                                    <span><button id="btn">+</button></span>

                                    <BR><BR>
                                    <h5 style="color: #ff700d"><strong>Competenties</strong></h5>
                                    <span><button id="btn">Competenties</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Hobby's</strong></h5>
                                    <span><button id="btn">Hobby's</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Nevenactiviteiten</strong></h5>
                                    <span><button id="btn">Nevenactiviteiten</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Referenties</strong></h5>
                                    <span><button id="btn">Referenties</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Skills</strong></h5>
                                    <span><button id="btn">Skills</button></span><br /><br />
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    My account
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    EHV Talent
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    EHV Projects
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        <a href="http://www.ehv.nl">EHV Talent</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>

<script>
    function getSelectionText() {
        var selectedText = ""
        if (window.getSelection) { // all modern browsers and IE9+
            selectedText = window.getSelection().toString()
        }
        return selectedText.replace(/\s/g, '');
    }

    function changeElem(elem) {
        var newText = getSelectionText();
        console.log(newText);
        console.log(elem.id);
        if (newText !== null) {
            if (elem.innerHTML !== newText) {
                elem.innerHTML = newText;
                if (elem.id == 'nameLb') document.getElementById("topFirst").innerHTML = newText;
                if (elem.id == 'prefixLb') document.getElementById("topPrefix").innerHTML = " " + newText;
                if (elem.id == 'surnameLb') document.getElementById("topSur").innerHTML = " " + newText;
            }
        } else {
            //no selected text so reset
            alert('no selected text');
            elem.innerHTML = "leeg";
        }
    }
</script>
